version: "3.8"
services:
  web:
    build: .
    platform: linux/amd64
    ports:
      - "5000:5000"
    environment:
      - APP_PORT=5000
    depends_on:
      - redis
  redis:
    image: redis:7
    platform: linux/amd64
